*.swp
.env
local/linux/volumes/ssl/certs/*
local/linux/volumes/shared/log/nginx/*
local/linux/volumes/shared/log/magento/*
local/macos/.docker-sync/daemon.pid
local/macos/.docker-sync/daemon.log
common/xhgui/*
